@use '../../base/variables' as v;
@use '../../base/minxis' as m;

.footer {
    padding: 1.875rem 0;
    border-bottom: .5rem solid v.$primary;

    &__copyright {
        text-align: center;
        font-size: 1.5rem;
        margin-block-start: 1.875rem;
    }
}